In [8]:
fruits = ['apple','mango','banana','kiwi','papaya']
for x in fruits:
    print(x)

apple
mango
banana
kiwi
papaya

In [10]:
a = "hello world"
for x in a:
    print(x, end="")

hello world

In [16]:
for i in range(5):
    print("Amit Kumar")

Amit Kumar
Amit Kumar
Amit Kumar
Amit Kumar
Amit Kumar

In [19]:
for i in range(1,21,3):
    print(i, end="  ")

1  4  7  10  13  16  19

In [20]:
for i in range(1,21,3):
    print(i)

1
4
7
10
13
16
19

In [26]:
for i in range(0,30,2):
    print(i, end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28

In [33]:
for i in range(31):
    if i%2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [1]:
a= [2,4,6,8,10,12,14,16,17,18,20]
for i in a:
    if i == 17:
        break
    print(i)

2
4
6
8
10
12
14
16

In [2]:
a= [2,4,6,8,10,12,14,16,17,18,20]
for i in a:
    if i == 17:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20

In [8]:
name = "amit"
for i in a:
    if i == "t":
        break
    print(i)

a
m
i

In [9]:
a= [10,30,50,45]
total = 0
for i  in a:
    total += i
print(total)

135

In [10]:
name=['amit','sumit','shivani','sandeep']
for i in name:
    print(i)

amit
sumit
shivani
sandeep

In [12]:
for i, v in enumerate(name):
    print(f'{i}-{v}')

0-amit
1-sumit
2-shivani
3-sandeep

In [15]:
items = ['pen','book','pencil','copy','scale','bag','bottle','lunchbox']
for i v in enumerate(name):
if i == 8:
    break
    print(f'{i}.{v}')

SyntaxError: invalid syntax (101889967.py, line 2)